<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO REST FRAMWORK PERSONAL DOC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="jumbotron">
  <h1 class="display-3">API TO DEMONSTRATE HOW DJANGO REST API WORKS</h1>
  <!-- <p class="lead">hope you find it simple</p> -->
  <hr class="my-2">
  <p>View The Documentation To Get Started</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="./docs" role="button">View here</a>
  </p>
</div>
  
</body>

</html>