<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Faild</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class="container text-center" style="margin-top: 10%;">
    
    <div class="jumbotron">
        <h1 class="display-4">PAYMENT CANCELD</h1>
        <p class="lead">Thank you for your effort</p>
        <hr class="my-4">
        <p> <p>YOUR PAYMENT HAVE BEEN CANCELED </p>

    </p>
    <h4>go home <a href="{% url 'index' %}">here</a></h4>

    </div>
    
</div>
</body>
</html>